.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(500px, 856px) minmax(60px, 148px) minmax(60px, 148px) minmax(60px, 148px) ;
  color: #444;
  margin: auto;
  max-width: 1308px;
  min-width: 900px;
}

.box {
  background-color: aqua;
  color: rgb(8, 4, 243);
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}